@import './breakpoint/breakpoint';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');


/** Color **/
$pink: #F5509E;
$white: #fff;
$black: #1c1c1c;
$grey: #EEEEEE;
$light-gray: #7c7c7c;

/** Typography **/
$primary_font: 'Montserrat', sans-serif;
$secondary_font: 'Raleway', sans-serif;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    font-family: $primary_font;
    color: $black;
    font-size: 60px;
    font-weight: 700;
    @include laptop {
        font-size: 80px; 
    }
}

h2, h3, h4, h5, h6 {
    font-family: $primary_font;
    color: $black;
    font-size: 40px;
    font-weight: 700;
    @include laptop {
        font-size: 50px; 
    }
}

p {
    font-family: $secondary_font;
    color: $black;
    font-weight: 400;
    font-size: 18px;
}

.btn {
    margin: 0 10px;
    padding: 15px 25px;
    font-family: $primary_font;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.10), 
    0 2px 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s;

    &._pink {
        background-color: $pink;
        color: $white;
    }

    &._white {
        background-color: #F8F8F8;
        color: $black;
    }

    &:hover {
        opacity: 0.7;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    @include tablet {
        max-width: 768px;
    }
    @include laptop {
        max-width: 1200px;
    }
    @include tablet {
        max-width: 1900px;
    }
}

.section {
    padding: 80px 0;
    @include laptop {
        padding : 100px 0;
    }
}

.flex_container {
    display: flex;
    flex-wrap: wrap;
    @include laptop {
        flex-direction: row;
        justify-content: space-between;
    }
}


// Start

.header {
    text-align: center;
    height: 100vh;
    padding: 120px 0 0 0;
    h1 {
        margin: 0 0 20px 0;
        position: relative;
    }
}

.cta {
    margin: 70px 0 200px 0;
}

.icon_scroll {
    position: relative;
    margin: 0 auto;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top:-2px;
        left:0;
        width: 14px;
        height: 30px;
        border: 2px solid $black;
        border-radius: 20px;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 10px;
        height: 10px;
        background: $black;
        border-radius: 100px;
        animation-name: scroll;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}

@keyframes scroll {
    0% { top: 4px }
    50% { top: 15px }
    100% { top: 4px }
}

.bg_design {
    background-image: url('../images/bg-design.png');
    width: 400px;
    height: 445px;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

#projects {
    background-color: $grey;
}

.video_wrapper {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.video_container {
    margin: 0 0 30px 0;
    position: relative;
    width: 100%;
    video {
        max-width: 100%;
        border-radius: 3px;
        box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.10), 
        0 2px 5px rgba(0, 0, 0, 0.25);
    }
    &:after {
        content: 'gif';
        font-family: $primary_font;
        font-weight: 600;
        color: $white;
        background: $black;
        padding: 5px 10px;
        border-radius: 5px;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    @include tablet {
        width: 48%;
    }
}

.project_links {
    margin: 20px 0;
    a {
        margin: 0 20px 0 0;
        &:hover {
            img {
                transform: scale(1.3);
            }
        }
    }
    img {
        width: 24px;
        transition: 0.3s ease-in-out;
    }
}

.about_details {
    width: 100%;
    span {
        font-family: $primary_font;
        font-weight: 600;
        font-size: 18px;
        color: rgba($color: $black, $alpha: 0.57);
    }
    h2 {
        margin: 10px 0 20px 0;
    }
    h4 {
        font-size: 25px;
        font-weight: 400;
        margin: 20px 0;
        strong {
            color: $black;
        }
    }
    p {
        margin: 0 0 20px 0;
        line-height: 32px;
    }
    strong, a {
        font-weight:700;
        color: $pink;
    }
    @include laptop {
        width: 46%;
    }
}

.about_right_wrapper {
    margin: 40px 0 0 0;
    width: 100%;
    color: $white;
    ul {
        list-style: none;
        margin: 15px 40px;
    }
    li {
        font-family: $secondary_font;
        font-size: 18px;
        margin: 10px 0;
    }
    @include laptop {
        width: 30%;
        margin: 0;
    }
}

.about_card {
    margin: 0 0 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.10), 
    0 2px 5px rgba(0, 0, 0, 0.25);

    &._special {
        background-color: $pink;
    }
    &._tools {
        background-color: $black;
    }
    h4 {
        color: $white;
        font-size: 16px;
    }
}

#contact {
    background-color: $grey;
    text-align: center;
    padding: 120px 0 20px 0;
    p {
        font-family: $primary_font;
        font-weight: 600;
        font-size: 18px;
        color: rgba($color: $black, $alpha: 0.57);
    }
    h2 {
        margin: 0 0 50px 0;
    }
}

.web_links {
    list-style: none;
    margin: 100px 0 0 0;
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        opacity: 0.70;
        &:hover {
            opacity: 1;
            img {
                transform: scale(1.3);
            }
        }
    }
    img {
        transition: 0.5s;
    }
}

.footer {
    background-color: $grey;
    text-align: center;
    font-family: $primary_font;
    font-size: 12px;
    padding: 20px 0;
}