@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
/** Color **/
/** Typography **/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #1c1c1c;
  font-size: 60px;
  font-weight: 700;
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 80px;
  }
}

h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #1c1c1c;
  font-size: 40px;
  font-weight: 700;
}

@media only screen and (min-width: 1200px) {
  h2, h3, h4, h5, h6 {
    font-size: 50px;
  }
}

p {
  font-family: "Raleway", sans-serif;
  color: #1c1c1c;
  font-weight: 400;
  font-size: 18px;
}

.btn {
  margin: 0 10px;
  padding: 15px 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn._pink {
  background-color: #F5509E;
  color: #fff;
}

.btn._white {
  background-color: #F8F8F8;
  color: #1c1c1c;
}

.btn:hover {
  opacity: 0.7;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1900px;
  }
}

.section {
  padding: 80px 0;
}

@media only screen and (min-width: 1200px) {
  .section {
    padding: 100px 0;
  }
}

.flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 1200px) {
  .flex_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header {
  text-align: center;
  height: 100vh;
  padding: 120px 0 0 0;
}

.header h1 {
  margin: 0 0 20px 0;
  position: relative;
}

.cta {
  margin: 70px 0 200px 0;
}

.icon_scroll {
  position: relative;
  margin: 0 auto;
}

.icon_scroll::before {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  width: 14px;
  height: 30px;
  border: 2px solid #1c1c1c;
  border-radius: 20px;
}

.icon_scroll::after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background: #1c1c1c;
  border-radius: 100px;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
  0% {
    top: 4px;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 4px;
  }
}

@keyframes scroll {
  0% {
    top: 4px;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 4px;
  }
}

.bg_design {
  background-image: url("../images/bg-design.png");
  width: 400px;
  height: 445px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

#projects {
  background-color: #EEEEEE;
}

.video_wrapper {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .video_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.video_container {
  margin: 0 0 30px 0;
  position: relative;
  width: 100%;
}

.video_container video {
  max-width: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.25);
}

.video_container:after {
  content: 'gif';
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  background: #1c1c1c;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
}

@media only screen and (min-width: 768px) {
  .video_container {
    width: 48%;
  }
}

.project_links {
  margin: 20px 0;
}

.project_links a {
  margin: 0 20px 0 0;
}

.project_links a:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.project_links img {
  width: 24px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.about_details {
  width: 100%;
}

.about_details span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: rgba(28, 28, 28, 0.57);
}

.about_details h2 {
  margin: 10px 0 20px 0;
}

.about_details h4 {
  font-size: 25px;
  font-weight: 400;
  margin: 20px 0;
}

.about_details h4 strong {
  color: #1c1c1c;
}

.about_details p {
  margin: 0 0 20px 0;
  line-height: 32px;
}

.about_details strong, .about_details a {
  font-weight: 700;
  color: #F5509E;
}

@media only screen and (min-width: 1200px) {
  .about_details {
    width: 46%;
  }
}

.about_right_wrapper {
  margin: 40px 0 0 0;
  width: 100%;
  color: #fff;
}

.about_right_wrapper ul {
  list-style: none;
  margin: 15px 40px;
}

.about_right_wrapper li {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin: 10px 0;
}

@media only screen and (min-width: 1200px) {
  .about_right_wrapper {
    width: 30%;
    margin: 0;
  }
}

.about_card {
  margin: 0 0 20px 0;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.25);
}

.about_card._special {
  background-color: #F5509E;
}

.about_card._tools {
  background-color: #1c1c1c;
}

.about_card h4 {
  color: #fff;
  font-size: 16px;
}

#contact {
  background-color: #EEEEEE;
  text-align: center;
  padding: 120px 0 20px 0;
}

#contact p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: rgba(28, 28, 28, 0.57);
}

#contact h2 {
  margin: 0 0 50px 0;
}

.web_links {
  list-style: none;
  margin: 100px 0 0 0;
}

.web_links li {
  display: inline-block;
  margin: 0 10px;
}

.web_links a {
  opacity: 0.70;
}

.web_links a:hover {
  opacity: 1;
}

.web_links a:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.web_links img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer {
  background-color: #EEEEEE;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding: 20px 0;
}
/*# sourceMappingURL=style.css.map */